[defaults]
inventory = /home/vlc/bakalauro_Kodas/backend/ansible_playbooks/inventory
host_key_checking = False
retry_files_enabled = False
transport=paramiko

[paramiko_connection]
record_host_keys=False
